.movieItem {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  width: 100%;
  padding: 0% 12%;
  cursor: pointer;
}
.movieImage {
  width: 100%;
  object-fit: contain;
}
.movieItemLeft {
  width: 20rem;
  height: 100%;
}
.movieItemRight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.movieItemRight p:first-child {
  font-size: 1.6rem;
  font-weight: 500;
}
.movieItemRight p:last-child {
  font-size: 1.4rem;
}
